In [1]:
print('hello world')

hello world

In [ ]:
#set is unordered. theresfore it cannot be indexed.
#it does not carry duplicate numbers

In [2]:
float('4.5')

4.5

In [3]:
int(float(4.5))

4

In [4]:
set1={1,5,6,4,3}

print(set1)

{1, 3, 4, 5, 6}

In [5]:
set2={2,3,4,5,6,7,7,9,0,5,3}

set2

{0, 2, 3, 4, 5, 6, 7, 9}

In [7]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [8]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [9]:
y

it is breathing